Checks: >
  *,
  -llvmlibc-callee-namespace,
  -modernize-use-trailing-return-type,
  -llvmlibc-implementation-in-namespace,
  -fuchsia-default-arguments-calls,
  -altera-unroll-loops,
  -fuchsia-overloaded-operator,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-inline-function-decl,
#  -llvmlibc-restrict-system-libc-headers,
#  -cppcoreguidelines-macro-usage,
#  -fuchsia-default-arguments-calls,
#  -cppcoreguidelines-pro-type-reinterpret-cast,
#  -llvm-header-guard,
#  -cppcoreguidelines-avoid-c-arrays,
#  -modernize-avoid-c-arrays,
#  -hicpp-avoid-c-arrays,
#  -hicpp-deprecated-headers,
#  -modernize-deprecated-headers
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
ExtraArgs: ['-std=c++23']
